{% extends 'base.html.twig' %}

{% block head %}
	{{ parent() }}
	<link href="{{ asset('build/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ asset('build/assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ asset('build/assets/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ asset('build/assets/libs/datatables.net-select-bs5/css//select.bootstrap5.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
	{% include 'partials/page-title.html.twig' with {'title': 'Fleetcomplete', 'subtitle': 'Tasks'} %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Address</th>
								<th>Description</th>
								<th>Status</th>
								<th>Date</th>
								<th>Time</th>
								<th>Postal code</th>
							</tr>
						</thead>

						<tbody>
							{% for task in tasks %}
								<tr>
									<td>{{ task.getAddress() }}</td>
									<td>{{ task.getDescription() | length > 120 ? task.getDescription()[:120] ~ '...' : task.getDescription() }}</td>
									<td>{{ task.getStatus() }}</td>
									<td>{{ task.getDate() }}</td>
									<td>{{ task.getTime() }}</td>
									<td>{{ task.getPostalCode() }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script src="{{ asset('build/assets/libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('build/assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('build/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('build/assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('build/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
	<script src="{{ asset('build/assets/libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('build/assets/libs/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
	<script src="{{ asset('build/assets/libs/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
	<script src="{{ asset('build/assets/libs/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
	<script src="{{ asset('build/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
	<script src="{{ asset('build/assets/libs/datatables.net-select/js/dataTables.select.min.js') }}"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" type="text/javascript"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js" type="text/javascript"></script>
	<script src="{{ asset('build/assets/js/pages/datatables.init.js') }}"></script>
{% endblock %}
